<?xml version="1.0" encoding="UTF-8"?>
<root>
	<styleSheets>
		<styleSheet><![CDATA[css/flashstyles.css?v={v_version}]]></styleSheet>
	</styleSheets>
	
	<fonts>
		<font><![CDATA[swf/fonts/fonts.swf?v={v_version}]]></font>
	</fonts>
	
	<labels>
		<file><![CDATA[xml/i18n/labels_{v_lang}.xml?v={v_version}]]></file>
	</labels>
	
	<vars>
		<var code="root"><![CDATA[]]></var>
		<var code="shareUrl"><![CDATA[http://fevermap.org/kub3dit/#{ID}]]></var>
		<var code="mapSizeHeight">31</var>
	</vars>
	
	<paths>
		<path code="spritesheet"><![CDATA[{v_root}kubes/spritesheet.png?v={v_version}]]></path>
		<path code="spritemap"><![CDATA[{v_root}kubes/spritesheet.txt?v={v_version}]]></path>
		<path code="spriteadditionals"><![CDATA[{v_root}kubes/additionals.txt?v={v_version}]]></path>
		<path code="levelColors"><![CDATA[{v_root}kubes/levelColors.png?v={v_version}]]></path>
		<path code="uploadMapPath"><![CDATA[{v_root}php/uploadMap.php]]></path>
		<path code="loadMapPath"><![CDATA[{v_root}php/loadMap.php]]></path>
	</paths>
	
	<dependencies />
	
</root>